In [7]:
import pandas as pd
#  Some random easy-to-understand dataset
df = pd.read_csv('https://raw.githubusercontent.com/ywchiu/riii/master/data/house-prices.csv')
df

     Home   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0       1  114300  1790         2          2       2    No         East
1       2  114200  2030         4          2       3    No         East
2       3  114800  1740         3          2       1    No         East
3       4   94700  1980         3          2       3    No         East
4       5  119800  2130         3          3       3    No         East
..    ...     ...   ...       ...        ...     ...   ...          ...
123   124  119700  1900         3          3       3   Yes         East
124   125  147900  2160         4          3       3   Yes         East
125   126  113500  2070         2          2       2    No        North
126   127  149900  2020         3          3       1    No         West
127   128  124600  2250         3          3       4    No        North

[128 rows x 8 columns]

In [2]:
from databutler_widgets.datana.demo_synthesis import synthesize

In [12]:
synthesize(df, ["Brick"])

DatanaExampleWidget()